@import '../../App.scss';

@mixin links {
  color: #fff;
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  cursor: pointer;
}

@mixin button {
  padding: .5rem 1rem;
  background: #FF4820;
  border-radius: 5px;
  color: #fff;
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;

  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_logo {
      margin-right: 2rem;
      > img {
        width: 62px;
        height: 16px;
      }
    }
  }

  &-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    >p {
      @include links();
      margin: 0 1rem;
    }
    >button {
      @include button();
    }
  }

  &-links {
    &__container {
      display: flex;
      flex: auto;
      >p {
        @include links();
        margin: 0 1rem;
      }  
    }
  }

  &-menu {
    &__container {
      >p {
        @include links();
      }  
    }
  }
}

.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
  >svg {
    cursor: pointer;
  }
  
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    background: $color-footer;
    text-align: end;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);

    >p {
      @include links();
      margin: 1rem 0;
    }
    >button {
      @include button();
    }

    &-links {
      @include links();
      >p {
        margin: 1rem 0;
      }
      &-sign {
        display: none;
        >p {
          @include links();
          margin-bottom: .5rem;
        }
        >button {
          @include button();
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .navbar-links__container {
    display: none;
  }
  .navbar-menu {
    display: flex;
  }
  .navbar-links_logo {
    flex: auto;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem 4rem;
  }
  .navbar-sign {
    display: none;
  }
  .navbar-menu__container {
    top: 20px;
    &-links-sign {
      display: block;
    }
  }
}